@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    /*--color--*/
    --body-color:#E4E9F7;
    --sidebar-color:#fff;
    --primary-color:#fff;
    --primary-color-light:#f6f5ff;
    --toggle-color:#ddd;
    --text-color:#000;
    
    /*--transition--*/
    --trans-02:all 0.2s ease;
    --trans-03:all 0.3s ease;
    --trans-04:all 0.4s ease;
    --trans-05:all 0.5s ease;
}
body {
    font-family: sans-serif;
    margin: 0;
  }
  
  .pro {
    color: #000;
    padding: 20px;
    text-align: left;
    font-size: medium;
  }
  .ph{
    color: #98BEFD;
  }
  
  main {
    padding: 20px;
  }
  
  .photo-profil {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.photo-profil img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 10px;
}
.error-message {
    font-size: 0.8em;
    color: red;
    margin-top: 5px;
}
.button-container {
    display: flex;
    align-items: center;
}

.photo-profil button {
    margin-left: 250px;
    margin-right: 22px;
    background-color: #98BEFD;
    border: none;
    color: #000;
    padding: 5px 10px;
    border-radius: 7px;
}
  
  .informations {
    
    padding: 20px;
    border-radius: 10px;
  }
  
  .informations ul {
    list-style: none;
    padding: 0;

  }
  
  .informations li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .informations button {
    flex: 0.5;
    margin-left: 150px;
    padding: 4px 20px;
    border: none;
    border-radius: 5px;
    background-color: #98BEFD;
    border: none;;
    color: #000;
    cursor: pointer;
  }
  
  .informations label {
    flex: 2;
    margin-right: 10px;
    letter-spacing: 2px;
  }
  
  .informations input {
    flex: 1;
    padding: 5px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 45px;
    background:transparent;
    outline: none;
    border: none;
    color: #000;
  }
  
  hr {
    border: none; /* Supprime la bordure par défaut */
    height: 3px; /* Définit la hauteur de la ligne */
    background-color: #000; /* Couleur de fond de la ligne */
    margin: 18px 0; /* Marge en haut et en bas de la ligne */
  }
  
body{
    height: 100vh;
    background: url("../images/background.jpg") no-repeat;
    background-size: 100%;
    /*background: var(--body-color);*/
    transition: var(--trans-03);
    overflow: hidden;
}
.sidebar .text{
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--trans-04);
    white-space: nowrap;
    opacity: 1;
    margin-left:-5px;
}
.sidebar .image{
    min-width: 60px;
    display: flex;
    align-items: center;
    margin-left:-10px;
}
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    /*backdrop-filter: blur(20px);*/
    /*background-color: var(--sidebar-color);*/
    transition: var(--trans-05);
    z-index: 100;
}
.sidebar li{
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}
.sidebar li .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    min-width: 60px;
}
.sidebar li .icon,.sidebar li .text{
    color: var(--text-color);
}
.sidebar li a{
    text-decoration: none;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 6px;
    transition: var(--trans-04);
}
.sidebar li a:hover{
    background: var(--primary-color);
}
.sidebar li a:hover .icon,.sidebar li a:hover .text {
    color:#000;
}
.sidebar .menu-bar{
    height: calc(100% -50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: -10px;
}
.sidebar li .icon{
    font-size: 20px;
    color: var(--text-color);
}
.sidebar .image-text img{
    width: 70px;
    border-radius: 6px;

}
.sidebar header .image-text{
    display: flex;
    align-items: center;
    position: relative;
    top:-17px ;


}
header .image-text .header_text{
    display: flex;
    flex-direction: column;
}
.header-text .name {
    font-weight: 300;
  }
.header-text .profession {
    margin-top: -7px;
  }
.bottom-content{
    margin: 30px 0;
    width: 150%;
}
.menu-bar{
    margin: 15px 0;
    width: 100%;
    padding-left: 10px;


}
.body{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50% ,-50%);
    width: 81%;
    height: 520px;
    margin-top: 200px;
    background-color: #ffffff;
    /*background: url('bachground.jpg') no-repeat;*/
    background-size: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: -6%;
    margin-left: 9%;

}

.slider{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;

}
.slides{
    width: 500%;
    height: 500px;
    display: flex;

}
.slides input{
    display: none;
}
.slide{
    width: 20%;
    transition: 2s;
}
.slide img{
    width: 800px;
    height: 500px;
}
.navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}
.profile{
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 10px;
    background-size: 17%;
}
.manual-btn{
    border: 2px solid #0077be;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child){
    margin-right: 40px;
}
.manual-btn:hover{
    background-color: #0077be;
}
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}
/*css pour automatiquer le slide */
.navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
}
.navigation-auto div{
    border: 2px solid #0077be;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}
.navigation-auto div:not(:last-child){
    margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: #0077be;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: #0077be;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: #0077be;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: #0077be;
}
.SlideSection{
    margin: 0;
    padding: 0;
    height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-links{
    width: 110%;
}